@font-face {
  font-family: "PT Sans";
  font-style:normal;
  font-weight:400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", "Roboto", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #F2F2F2;
  color: #000;
  display:flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  min-width: 1200px;
}

.main-container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.visually-hidden{
  display: none;
}
html {
  height: 100%;
}
.main-header{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: #fff;
  padding: 0 70px;
}
.navigation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  min-height: 64px;
}

.navigation-block-one{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 507px;
}
.logo{
  margin-bottom: -12px;
}
.navigation-block-two{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}
.navigation-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 34px;
  border-radius: 4px;
}
.navigation-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 22px 12px;
}
.navigation-item{
  font-size: 20px;
  line-height: 24px;
  list-style-type: none;
  text-decoration: none;
  position: relative;
}
.navigation-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 339px;
  margin: 0;
  margin-left: 30px;
  padding: 0;
}
.navigation-link{
  text-decoration: none;
  font-weight: 700;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 16px;
}

.navigation-link-current::before{
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}
.navigation-button{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color:#fff;
  background-color: #756157;
  margin-left: 20px;
}
.page-container{
  width: 1200px;
  margin: 0 auto;

}
.hero{
  width: 1200px;
  height: 485px;
  margin: 0 auto;
  background-image: url(../images/divider.png), url(../images/hero_background.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: gray;
}
.advantages{
  margin: 0 auto;

}
.advantages-about{
  padding-top: 69px;
  padding-bottom: 90px;
  background-color: #fff;
}
.advantages-about-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.advantages-about-description{
  text-align: center;
}
.advantages-item{
  list-style-type: none;
}
.advantages-card{
  width: 400px;
  min-height: 384px;
  padding-left: 85px;
  padding-right: 85px;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  box-sizing: border-box;

}
.advantages-list{
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.advantages-image{
  padding: 0;
  margin: 0;
  display: block;
}
.block-dark-blue{
  background-color:  #82B3D3;
  color: #fff;
  padding-top: 92px;
  padding-bottom: 111px;
}
.row-two{
  padding-top: 103px;
  padding-bottom: 121px;
}
.row-four{
  padding-top: 80px;
  padding-bottom: 81px;
}
.block-middle-blue{
  background-color: #E6F0F6;
}
.block-white{
  background-color: #fff;
}
.block-light-blue{
  background-color: #F0F6FA;
}

.advantages-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 30px;

}
.title-row-four{
  margin: 0;
  margin-top: 30px;
  padding: 0;
}
.title-dark{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.title-dark::after{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}
.title-light{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.title-light::after{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}
.advantages-description{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  margin-top: 30px;
}
.call-to-action{
  width: 1200px;
  background-color: #fff;
  padding: 96px 304px;
  box-sizing: border-box;
}
.call-to-action-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 592px;
  margin:0;
}
.call-to-action-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px 0;
}
.call-to-action-description{
  text-align: center;
  margin: 0 0 54px 0;
}
.call-to-action-search{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color:#fff;
  background-color: #756157;
  padding: 8px 50px;
  box-sizing:content-box;
  display: block;
  border-radius: 4px;
}
.subscribe-container{
  background-image: url(../images/subscribe.jpg);
  width: 1200px;
  height: 414px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: gray;
  margin: 0;
}
.subscribe-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 96px 258px 104px 258px;
}
.subscribe-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color:#fff;
  margin: 0;
  margin-bottom: 20px;
}
.subscribe-description{
  text-align: center;
  color:#fff;
  margin: 0;
  margin-bottom: 54px;
}
.subscribe-form{
  display: flex;
  flex-direction: row;
}
.subscribe-form-input{
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 14px 20px;
  flex-grow: 1;
  font-size: 18px;
  line-height: 24px;
}
.subscribe-button{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color:#fff;
  background-color: #82B3D3;
  border:none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}
.footer-contacts-phone{
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.page-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px 70px 30px 70px;
}
.footer-social-network-list{
  display: flex;
  justify-content:space-between;
  min-width: 142px;
  margin: 0 auto;
  padding: 0;
}
.footer-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-height: 50px;
}
.footer-contact-logo{
  width: 115px;
}
.footer-social-network-item{
  list-style-type: none;
  padding: 0 10px;
}
.footer-social-network-vk{
  text-decoration: none;
}
.footer-social-network-telegram{
  text-decoration: none;
}
.footer-social-network-youtube{
  text-decoration: none;
}
.button{
  cursor: pointer;
}
.btn-brown:hover{
  background-color: #615048;
}
.btn-brown:focus{
  background-color:#615048;
}
.button:active{
  color: rgba(255, 255, 255, 0.3);
}
.button:disabled{
  background-color:#E5E5E5;
}
.btn-green{
  background-color: #7DB54F;
  }
.btn-green:hover{
  background-color:#6C9E42;
}
.btn-green:focus{
  background-color:#6C9E42;
}
.btn-blue{
  background-color:#82B3D3;
}
.btn-blue:hover{
  background-color:#68A2CA;
}
.btn-blue:focus{
  background-color:#68A2CA;
}



.filter-block{
  background-image: url(../images/background_filter.jpg);
  width: 1200px;
  height: 412px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top;
  background-color: gray;
}
.filter-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 35px 70px 70px 70px;
}
.inner-head-title{
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  color:#fff;
  margin: 0;
  margin-bottom: 8px;
}
.breadcrumbs{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 21px;
  margin: 0;
  margin-bottom: 40px;
  padding:0;
}
.breadcrumbs-item{
  list-style-type: none;
  color:#fff;
  margin: 0;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.breadcrumbs-link{
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-header{
  width: 1060px;
  margin: 0 auto;
}
.catalog-filter{
  display: flex;
  min-width: 1060px;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}
.filter{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.catalog-filter-item{
  list-style-type: none;
  color:#fff;
}
.catalog-filter-title{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color:#fff;
  padding-bottom: 32px;
}
.catalog-filter-group{
  border: none;
  width: 150px;
  padding: 0;
  margin: 0;
}
.catalog-filter-left{
  min-width: 371px;
  display: flex;
  justify-content: flex-start;
}
.catalog-filter-right{
  min-width: 549px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.group-right{
  margin-left: 70px;
}
.catalog-filter-group-price{
  border: none;
  padding: 0;
  margin: 0;
}
.control-block{
  display: flex;
  justify-content: space-between;
  min-width: 288px;
  margin-bottom: 36px;
}
.catalog-filter-list{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 99px;
}
.catalog-filter-item{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.catalog-filter-item label{
  margin-left: 16px;
}
.radio-disk{
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
}

.radio-disk{
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: none;
  border: none;
  position: relative;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.radio-disk:checked::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border: 0;
}

.control-input-checkbox{
  background-color: #fff;
  width: 20px;
  height: 19px;
  border: 0;
  border-radius: 4px;
  background-image: none;
  position: relative;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.control-input-checkbox:checked::after{
  content: "";
  background-color: #fff;
  width: 20px;
  height: 19px;
  border: 0;
  border-radius: 4px;
  background-image: url(../images/tick_checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.control-input{
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  max-width: 143px;
  box-sizing: border-box;

}
.control-input::placeholder{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
}
.input-text{
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 12px;
  left: 106px;
}
.right-input{
  position: relative;
}
.left-input{
  position: relative;
}
.input-left{
  border-radius: 4px 0 0 4px;

}
.input-right{
  border-radius: 0 4px 4px 0;
  margin-left: 2px;
}
.control-line{
  min-width: 288px;

}
.filter-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.control-block{
  display: flex;
  flex-direction: row;
}

.button-form{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color:#fff;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;

}
.button-reset{
  background-color: transparent;
  margin-top: 32px;
}
.button-reset:hover{
  color: rgba(255, 255, 255, 0.6);
}
.button-reset:active{
  color: rgba(255, 255, 255, 0.3);
}
.button-reset:disabled{
  color: rgba(255, 255, 255, 0.1);
}
.catalog{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: auto;
  padding: 50px 70px 60px 70px;
  margin: 0 auto;
  background-color: #fff;
  min-width: 1060px;
}
.catalog-sorting{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  min-width: 1060px;
  margin-bottom: 40px;
}
.catalog-sorting-right{
  display: flex;
  flex-direction: row;
  min-width: 522px;
  margin-left: auto;
}
.catalog-sorting-result{
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
  margin: 0;
}
.select-control{
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  padding: 14px 20px;
  min-width: 292px;
}
.catalog-show-list{
  display: flex;
  min-width: 160px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 70px;
}
.catalog-show-item{
  list-style-type: none;
}
.button-show{
  display: flex;
  justify-content:center;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 14px;
  background-color: #fff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}
.button-selected{
  border: 2px solid #000;
}
.product-list{
  display: grid;
  margin: 0 auto;
  width: 1060px;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: 438px 438px;
  padding: 0;
  gap: 20px;
}
.product-card{
  padding:19px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  grid-column: 1/-2;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: auto auto auto auto auto;
  gap: 16px 20px;
}
.product-item{
  list-style-type: none;
}
.product-card-image{
  grid-column: 1/3;
  grid-row: 1/-5;
  object-fit: cover;
}
.product-card-title{
  font-family: inherit;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000;
  margin: 0;
}
.product-card-link{
  text-decoration: none;
  grid-column: 1/3;
}

.product-card-description{
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}
.description-name{
  grid-column: 1/2;
}
.description-price{
  grid-column: 2/3;
  text-align: right;
}
.button-hotel-more{
  grid-column: 1/2;
}
.button-favorite{
  grid-column: 2/3;
}
.button-hotel-more{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color:#fff;
  background-color: #756157;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 26px;
}
.button-favorite{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color:#fff;

  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
}

.button-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}
.product-card-rating-text{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform:uppercase;
  color:#333;
  background-color: #F2F2F2;
  margin: 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 22px 8px 23px;
  grid-column: 2/3;
}

.rating-stars{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  grid-column: 1/2;
}
.star{
  padding-right: 6px;
}

.divider-catalog{
  padding: 0;
  margin: 40px auto;
}
.pagination-block{
  min-width: 1060px;
  margin: 0 auto;
}
.pagination{
  display: flex;
  min-width: 400px;
  padding: 0;
}

.pagination-item{
  list-style-type: none;
  background-color: #82B3D3;
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
}
.pagination-item:first-child{
  background-color: #F2F2F2;
}
.pagination-link-more{
  color:#000;
  background-color: #fff;
  border: none;
  min-width: 60px;
  min-height: 60px;
  padding: 0;
}
.pagination-link{
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color:#fff;
}
.pagination-current{
  color:#000;
}
.button-more{
  font-family: inherit;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #fff;
  border: none;
}
.subscribe-no-background{
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  min-height: 414px;
  min-width: 684px;
}
.subscribe-form{
  min-width: 684px;
}
.black{
  color: #000;
}
.input-gray{
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 24px;
}
