@font-face {
  font-family: "PT Sans";
  font-style:normal;
  font-weight:400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", "Roboto", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #fff;
  color: #000;
}

.visually-hidden{
  visibility: hidden;
}

.navigation-item{
  font-size: 20px;
  line-height: 24px;
  list-style-type: none;
  text-decoration: none;
}
.navigation-link{
  text-decoration: none;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
.navigation-button{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color:#fff;
  background-color: #756157;
}

.hero{
  width: 1200px;
  height: 485px;
  margin: 0 auto;
  background-image: url(../images/divider.png), url(../images/hero_background.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: gray;
}
.advantages-about-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.advantages-about-description{
  text-align: center;
}
.advantages-item{
  list-style-type: none;
}
.advantages-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.advantages-description{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.call-to-action-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.call-to-action-description{
  text-align: center;
}
.call-to-action-search{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color:#fff;
  background-color: #756157;
}
.subscribe-background{
  background-image: url(../images/subscribe.jpg);
  width: 1200px;
  height: 414px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: gray;
  margin: 0 auto;
}
.subscribe-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color:#fff;
}
.subscribe-description{
  text-align: center;
  color:#fff;
}
.subscribe-button{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color:#fff;
  background-color: #82B3D3;
  border:none;
}
.footer-contacts-phone{
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.footer-social-network-item{
  list-style-type: none;
}
.footer-social-network-vk{
  text-decoration: none;
}
.footer-social-network-telegram{
  text-decoration: none;
}
.footer-social-network-youtube{
  text-decoration: none;
}
.filter-block{
  background-image: url(../images/background_filter.jpg);
  width: 1200px;
  height: 412px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: gray;
}
.inner-header-title{
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  color:#fff;
}
.breadcrumbs-item{
  list-style-type: none;
  color:#fff;
}
.breadcrumbs-link{
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}
.catalog-filter-item{
  list-style-type: none;
  color:#fff;
}
.catalog-filter-title{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color:#fff;
}
.catalog-filter-group{
  border: none;
}
.catalog-filter-item{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color:#fff;
}
.control-input{
  background-color: #fff;
}
.button-apply{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color:#fff;
  background-color: #82B3D3;
  border: none;
}
.button-reset{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color:#fff;
  background-color: none;
  border: none;
}
.catalog-sorting-result{
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
}
.select-control{
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
.catalog-show-item{
  list-style-type: none;
}
.button-show-select{
  border-color: #000;
  background-color: #fff;
}
.button-show-light{
  border-color: #E5E5E5;
  background-color: #fff;
}
.product-card{
  border-color: #E6E6E6;
}
.product-item{
  list-style-type: none;
}
.product-card-title{
  font-family: inherit;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000;
}
.product-card-link{
  text-decoration: none;
}
.product-card-description{
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
.button-hotel-more{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color:#fff;
  background-color: #756157;
}
.button-favorite-inactive{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color:#fff;
  background-color: #82B3D3;
  border: none;
}
.button-favorite-active{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color:#fff;
  background-color: #7DB54F;
  border: none;
}
.product-card-rating-text{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color:#333;
  background-color: #F2F2F2;
}
.pagination-item{
  list-style-type: none;
}
.pagination-link{
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color:#fff;
  background-color: #82B3D3;
}
.pagination-current{
  color:#000;
  background-color: #F2F2F2;
}
.button-more{
  font-family: inherit;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #fff;
  border: none;
}
.subscribe-title-no-back{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color:#000;
}
.subscribe-description-no-back{
  text-align: center;
  color:#000;
}
