@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans_400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans_700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", "Roboto", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  min-width: 1200px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

.body-container {
  min-width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.main-index {
  max-width: 1200px;
}

.visually-hidden {
  display: none;
}

.main-header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: #fff;
  padding: 0 70px;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  min-height: 64px;
  margin-left: 28px;
}

.navigation-block-one {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 507px;
  position: relative;
  margin-right: auto;
}

.logo {
  position: static;
  margin-bottom: -12px;
  left: 0;
}

.navigation-block-two {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 268px;
}

.navigation-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 12px;
}

.favorite-btn {
  position: relative;
  margin-right: 20px;
}

.favorite-value {
  color: #fff;
  background-color: #7db54f;
  font-size: 10px;
  line-height: 10px;
  top: 11px;
  left: 20px;
  position: absolute;
  content: "";
  padding: 5px 5px 5px 4px;
  text-align: center;
  border-radius: 20px;
  max-width: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navigation-item {
  list-style-type: none;
  text-decoration: none;
  position: relative;
}

.navigation-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 339px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  font-weight: 700;
  color: #000;
  display: block;
  padding: 20px 16px;
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #756157;
  display: block;
  padding: 8px 34px;
  border-radius: 4px;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 170px;
}

.hero {
  min-width: 1200px;
  min-height: 485px;
  margin: 0 auto;
  background-image: url(../images/divider.png),
    url(../images/hero_background.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: gray;
}

.advantages {
  margin: 0 auto;
}

.advantages-about {
  padding: 68px 270px 90px;
  background-color: #fff;
  margin: 0 auto;
  max-width: 1200px;
}

.advantages-about-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-about-description {
  font-family: inherit;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.advantages-item {
  list-style-type: none;
}

.advantages-card {
  width: 400px;
  min-height: 384px;
  padding-left: 85px;
  padding-right: 85px;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.advantages-list {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}
.advantages-image {
  padding: 0;
  margin: 0;
  display: block;
  min-width: 800px;
}

.block-dark-blue {
  background-color: #82b3d3;
  color: #fff;
  padding-top: 92px;
  padding-bottom: 111px;
}

.row-two {
  padding-top: 103px;
  padding-bottom: 121px;
}

.row-four {
  padding-top: 80px;
  padding-bottom: 81px;
}

.block-middle-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.block-white {
  background-color: #fff;
}

.block-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}

.title-row-four {
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

.title-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title-dark::after {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.title-light {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title-light::after {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  margin-top: 30px;
}

.call-to-action {
  min-width: 1200px;
  background-color: #fff;
  padding: 98px 304px 95px;
  box-sizing: border-box;
}

.call-to-action-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 592px;
  margin: 0;
}

.call-to-action-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px 0;
}

.call-to-action-description {
  text-align: center;
  margin: 0 0 53px 0;
}

.call-to-action-search {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 8px 50px;
  box-sizing: content-box;
  display: block;
  border-radius: 4px;
  max-width: 492px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subscribe-container {
  background-image: url(../images/subscribe.jpg);
  min-width: 1200px;
  min-height: 414px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
  background-color: gray;
  margin: 0;
}

.subscribe-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 97px 258px 104px 258px;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  text-align: center;
  color: #fff;
  margin: 0;
  margin-bottom: 53px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form-input {
  border-radius: 4px 0 0 4px;
  padding: 11px 20px 9px 18px;
  flex-grow: 1;
  font-family: inherit;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 24px;
  border: 2px #f2f2f2 solid;
}

.subscribe-form-input:hover {
  background-color: #e6e6e6;
  border: 2px #e6e6e6 solid;
  color: rgba(0, 0, 0, 0.6);
}

.subscribe-form-input:active {
  color: #000;
  border: 2px #000 solid;
  outline: 0;
}

.subscribe-form-input:focus {
  color: #000;
  border: 2px #000 solid;
  outline: 0;
  outline-offset: 0;
}

.subscribe-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #82b3d3;
  border: none;
  display: block;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  max-width: 232px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px 70px 30px 70px;
}

.footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-height: 50px;
  max-width: 340px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000;
  vertical-align: middle;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-contact-logo {
  width: 115px;
}

.logo-html_academy {
  vertical-align: middle;
}

.logo-html_academy:hover {
  fill: #756157;
}

.logo-html_academy:focus {
  fill: #756157;
}

.logo-html_academy:active {
  fill: rgba(117, 97, 87, 0.3);
}

.footer-social-network-list {
  min-width: 142px;
  max-width: 142px;
  min-height: 40px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.footer-social-network-item {
  list-style-type: none;
}

.footer-social-network-link {
  margin: 0;
  padding: 7px 11px;
  display: block;
  background-color: #fff;
  box-sizing: border-box;
  min-width: 47px;
  min-height: 40px;
  cursor: pointer;
}

.navigation-icon {
  fill: #83b3d3;
}

.navigation-icon:hover {
  fill: #68a2ca;
}

.navigation-icon:focus {
  fill: #68a2ca;
}

.navigation-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.button {
  cursor: pointer;
}

.btn-brown {
  background-color: #756157;
  color: #fff;
}

.btn-brown:hover {
  background-color: #615048;
}

.btn-brown:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
}

.btn-green {
  background-color: #7db54f;
  color: #fff;
}

.btn-green:hover {
  background-color: #6c9e42;
}

.btn-green:focus {
  background-color: #6c9e42;
}

.btn-green:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.btn-blue {
  background-color: #82b3d3;
  color: #fff;
}

.btn-blue:hover {
  background-color: #68a2ca;
}

.btn-blue:focus {
  background-color: #68a2ca;
}

.btn-blue:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}
/* catalog */

.filter-block {
  background-image: url(../images/background_filter.jpg);
  min-width: 1200px;
  min-height: 412px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: gray;
}

.filter-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 307px;
  margin: 0;
  padding: 32px 70px 70px 70px;
}

.inner-head-title {
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  color: #fff;
  margin: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
}

.breadcrumbs-item {
  list-style-type: none;
  color: #fff;
  margin: 0;
  margin-right: 10px;
  display: block;
}

.breadcrumbs-arrow {
  max-height: 21px;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  margin: 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breadcrumbs-main-page {
  fill: #fff;
  vertical-align: middle;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #fff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-inner {
  min-width: 1200px;
  margin: 0 auto;
  max-width: 1060px;
}

.catalog-filter {
  display: flex;
  min-width: 1060px;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 160px;
}

.catalog-filter-item {
  list-style-type: none;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: inherit;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  padding: 0;
  padding-bottom: 34px;
  font-family: inherit;
}

.catalog-filter-group {
  border: none;
  min-width: 150px;
  padding: 0;
  margin: 0;
}

.catalog-filter-left {
  min-width: 371px;
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #fff;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-item label {
  font-family: inherit;
  font-weight: 400;
  margin-top: -1px;
}

.catalog-filter-item:hover {
  opacity: 0.6;
}

.catalog-filter-item:active {
  opacity: 0.3;
}

.radio-disk {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  margin-right: 16px;
}

.radio-disk:checked::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.control-input-checkbox {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 4px;
  background-image: none;
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  margin-top: 1px;
  margin-right: 16px;
}

.control-input-checkbox:checked::after {
  content: "";
  background-color: #fff;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 4px;
  background-image: url(../images/tick_checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.control {
  width: 105px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.catalog-filter-right {
  min-width: 549px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.group-left {
  margin-right: 70px;
}

.catalog-filter-group-price {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 288px;
  margin-right: 70px;
}

.control-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  box-sizing: border-box;
  width: 288px;
}

.control-input {
  background: #f2f2f2;
  border: 2px #f2f2f2 solid;
  padding: 11px 18px 9px 18px;
  font-size: 18px;
  line-height: 24px;
  box-sizing: border-box;
  width: 143px;
  font-family: inherit;
}

.control-input::placeholder {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
}

.input-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 13px;
  right: 20px;
  max-width: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.right-input {
  position: relative;
}

.left-input {
  position: relative;
}

.input-left {
  border-radius: 4px 0 0 4px;
}

.input-right {
  border-radius: 0 4px 4px 0;
}

.control-input:hover {
  background-color: #e6e6e6;
  border: 2px #e6e6e6 solid;
}

.control-input:active {
  border: 2px #000 solid;
  outline: 0;
  font-weight: 700;
  appearance: none;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 191px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 8px 0;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #fff;
}

.range-toggle {
  position: absolute;
  background-color: #fff;
  width: 20px;
  height: 20px;
  margin-top: -8px;
  border-radius: 5px;
  border: none;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  border: 2px #83b3d3 solid;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 207px;
}

.button-form {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  display: block;
  padding: 8px 50px;
}

.button-reset {
  background-color: transparent;
  margin-top: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
}

.catalog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: auto;
  padding: 50px 70px 60px 70px;
  margin: 0 auto;
  background-color: #fff;
  max-width: 1060px;
}

.catalog-sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 1060px;
  margin-bottom: 40px;
}

.catalog-sorting-right {
  display: flex;
  min-width: 522px;
  margin-left: auto;
}

.catalog-sorting-result {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
  margin: 0;
  flex-grow: 1;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 292px;
  margin-right: auto;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  padding: 13px 18px 11px 18px;
  min-width: 292px;
  border-radius: 4px;
  border: 2px #e5e5e5 solid;
  background-color: #fff;
  cursor: pointer;
  background-image: url(../images/tick_select.svg);
  background-repeat: no-repeat;
  background-position: right 18px center;
  appearance: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select-control:hover {
  border: 2px #68a2ca solid;
}

.select-control:active {
  border: 2px #3f5e72 solid;
}

.select-control:disabled {
  border: 2px rgba(0, 0, 0, 0.3) solid;
}

.catalog-show-list {
  display: flex;
  min-width: 160px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 70px;
}

.catalog-show-item {
  list-style-type: none;
}

.button-show {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 14px;
  background-color: #fff;
  border: 2px #e5e5e5 solid;
  border-radius: 4px;
}

.button-selected {
  border: 2px solid #000;
}

.button-show:hover {
  border: 2px #000 solid;
}

.button-show:active {
  border: 2px #000 solid;
}

.product-list {
  display: grid;
  margin: 0 auto;
  max-width: 1060px;
  height: auto;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: auto auto;
  padding: 0;
  gap: 20px;
  margin-bottom: 40px;
}

.product-card {
  padding: 19px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  grid-column: 1/-2;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: auto auto auto auto auto;
  gap: 16px 20px;
}

.product-item {
  list-style-type: none;
}

.product-card-image {
  grid-column: 1/3;
  grid-row: 1/-5;
  object-fit: cover;
}

.product-card-title {
  font-family: inherit;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000;
  margin: 0;
}

.product-card-link {
  text-decoration: none;
  grid-column: 1/3;
}

.product-card-description {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
}

.description-name {
  grid-column: 1/2;
}

.description-price {
  grid-column: 2/3;
  text-align: right;
}

.button-hotel-more {
  grid-column: 1/2;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  display: block;
  padding: 8px 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-favorite {
  grid-column: 2/3;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  display: block;
  padding: 8px 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}

.product-card-rating-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f2f2f2;
  margin: 0;
  border-radius: 4px;
  display: block;
  padding: 9px 22px 8px 23px;
  grid-column: 2/3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rating-stars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column: 1/2;
}

.star {
  padding-right: 6px;
}

.pagination-block {
  min-width: 1060px;
  margin: 0 auto;
}

.pagination-block {
  border-top: 1px #e6e6e6 solid;
  padding-top: 40px;
  max-width: 1060px;
}

.pagination {
  display: flex;
  width: 400px;
  height: 60px;
  padding: 0;
  margin: 0;
}

.pagination-item {
  list-style-type: none;
  padding: 0;
  margin-right: 8px;
}

.pagination-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  background-color: #82b3d3;
  border: 1px #82b3d3 solid;
  border-radius: 4px;
  padding: 11px 23px;
  max-width: 60px;
  max-height: 60px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pagination-current {
  background-color: #f2f2f2;
  border: 1px #f2f2f2 solid;
  cursor: auto;
  color: #000;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination-current:hover {
  background-color: #f2f2f2;
  border: 1px #f2f2f2 solid;
}

.pagination-current:active {
  background-color: #f2f2f2;
  border: 1px #f2f2f2 solid;
}

.link-more {
  font-size: 22px;
  line-height: 26px;
  color: #000;
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 17px 20px;
  max-width: 60px;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.two-digit {
  padding: 11px 17px 11px 18px;
  max-width: 60px;
  max-height: 60px;
  margin: 0;
}

.subscribe-no-background {
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 414px;
  min-width: 684px;
}

.subscribe-form {
  min-width: 684px;
}

.subscribe-text-black {
  color: #000;
}

.text-gray {
  color: #333;
}

/* форма */

.modal {
  position: fixed;
  background-color: rgba(242, 242, 242, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}

.modal:target {
  display: block;
}

.modal-container {
  background-color: #fff;
  width: 717px;
  padding: 64px 70px;
  margin: auto;
  margin-top: 100px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.form {
  font-family: "PT Sans", "Roboto", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 577px;
}

.block-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 48px;
}

.title-form {
  font-family: "PT Sans", "Roboto", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.data {
  position: relative;
  margin-bottom: 46px;
}

.data-label {
  font-family: "PT Sans", "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.label-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85px;
  cursor: pointer;
  position: relative;
}

.label-child:hover .pop-up-block {
  display: block;
}

.data-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.input-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-calendar {
  padding: 10px 20px;
  border-radius: 4px;
  width: 440px;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 24px;
  border: 2px #f2f2f2 solid;
  box-sizing: border-box;
}

.input-calendar::placeholder {
  color: #000;
  font-family: "PT Sans", "Roboto", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.block-input {
  position: relative;
  width: 440px;
  margin-left: 18px;
}

.block-input::before {
  background-image: url(../images/date.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 14px;
  left: 400px;
  content: "";
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.text-info {
  font-family: "PT Sans", "Roboto", sans-serif;
  font-size: 16px;
  line-height: 21px;
}

.text-info-error {
  position: absolute;
  top: 52px;
  left: 157px;
  color: #ff5757;
}

.text-info-true {
  position: absolute;
  top: 52px;
  left: 157px;
  color: #333;
}

.counters {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 48px;
}

.counter {
  display: flex;
  width: 110px;
  background-color: #f2f2f2;
  margin-left: 46px;
  border-radius: 4px;
}

.counter-input {
  font-family: "PT Sans", "Roboto", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  flex-grow: 1;
  background-color: #f2f2f2;
  border: none;
  padding: 0;
  margin: 0;
  width: 31px;
  text-align: center;
}

.counter-input::placeholder {
  color: #000;
}

.button-counter-minus {
  border: none;
  height: 48px;
  width: 40px;
  padding: 10px 10px 16px 10px;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.icon-quantity {
  fill: #756157;
  opacity: 0.3;
}

.icon-quantity:hover {
  fill: #000;
  opacity: 100;
}

.icon-quantity:active {
  fill: #000;
  opacity: 0.3;
}

.button-counter-plus {
  border: none;
  width: 40px;
  padding: 14px 10px;
  border-radius: 0 4px 4px 0;
  background-color: #f2f2f2;
  cursor: pointer;
}

.search-button {
  font-family: "PT Sans", "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 18px;
  border-radius: 10px;
  margin: 0;
}

.modal-close-button {
  width: 53px;
  height: 53px;
  position: relative;
}

.close-button {
  background-color: #f2f2f2;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: absolute;
  right: -18px;
}

.close-button::before,
.close-button::after {
  position: absolute;
  top: 26px;
  left: 20px;
  width: 14px;
  height: 2px;
  background-color: #000;
  content: "";
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}

.close-button:hover {
  background-color: #e6e6e6;
}

.pop-up {
  font-family: "PT Sans", "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #333333;
  padding: 15px 18px 18px 22px;
  width: 216px;
  order: 2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.pop-up-triangle {
  position: absolute;
  top: -9px;
  left: 120px;
}

.pop-up-block {
  position: absolute;
  box-sizing: border-box;
  top: 36px;
  left: -62px;
  margin-top: 6px;
  display: none;
}
