@font-face {
  font-family: "PT Sans";
  font-style:normal;
  font-weight:400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", "Roboto", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #F2F2F2;
  color: #000;
  display:flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  min-width: 1200px;
}

.main-container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.visually-hidden{
  display: none;
}
html {
  height: 100%;
}
.main-header{
  width: 1200px;
  min-height: 64px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: #fff;
  padding: 0 70px;
}
.navigation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  min-height: 64px;
}

.navigation-block-one{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 507px;
}
.logo{
  margin-bottom: -12px;
}
.navigation-block-two{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}
.navigation-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  min-height: 36px;
  border-radius: 4px;
}
.navigation-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 44px;
  min-height: 64px;
}
.navigation-item{
  font-size: 20px;
  line-height: 24px;
  list-style-type: none;
  text-decoration: none;
}
.navigation-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 339px;
  margin: 0;
  margin-left: 30px;
  padding: 0;
}
.navigation-link{
  text-decoration: none;
  font-weight: 700;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  flex-basis: auto;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}
.navigation-link-current{
border-bottom: 2px #756257 solid;
}
.navigation-button{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color:#fff;
  background-color: #756157;
  margin-left: 20px;
}
.page-container{
  width: 1200px;
  margin: 0 auto;

}
.hero{
  width: 1200px;
  height: 485px;
  margin: 0 auto;
  background-image: url(../images/divider.png), url(../images/hero_background.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: gray;
}
.advantages{
  margin: 0 auto;

}
.advantages-about{
  padding-top: 69px;
  padding-bottom: 90px;
  background-color: #fff;
}
.advantages-about-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.advantages-about-description{
  text-align: center;
}
.advantages-item{
  list-style-type: none;
}
.advantages-card{
  width: 400px;
  min-height: 384px;
  padding-left: 85px;
  padding-right: 85px;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items:center;
  box-sizing: border-box;
  justify-content: space-between;

}
.advantages-list{
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.advantages-image{
  padding: 0;
  margin: 0;
  display: block;
}
.block-dark-blue{
  background-color:  #82B3D3;
  color: #fff;
  padding-top: 92px;
  padding-bottom: 121px;
}
.row-two{
  padding-top: 103px;
  padding-bottom: 121px;
}
.row-four{
  padding-top: 80px;
  padding-bottom: 81px;
}
.block-middle-blue{
  background-color: #E6F0F6;
}
.block-white{
  background-color: #fff;
}
.block-light-blue{
  background-color: #F0F6FA;
}

.advantages-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.advantages-description{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}
.call-to-action{
  width: 1200px;
  background-color: #fff;
  padding: 96px 304px;
  box-sizing: border-box;
}
.call-to-action-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 592px;
  margin:0;
}
.call-to-action-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px 0;
}
.call-to-action-description{
  text-align: center;
  margin: 0 0 54px 0;
}
.call-to-action-search{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color:#fff;
  background-color: #756157;
  padding: 8px 50px;
  box-sizing:content-box;
  display: block;
  border-radius: 4px;
}
.subscribe-container{
  background-image: url(../images/subscribe.jpg);
  width: 1200px;
  height: 414px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: gray;
  margin: 0;
}
.subscribe-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 96px 258px 104px 258px;
}
.subscribe-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color:#fff;
  margin: 0;
  margin-bottom: 20px;
}
.subscribe-description{
  text-align: center;
  color:#fff;
  margin: 0;
  margin-bottom: 54px;
}
.subscribe-form{
  display: flex;
  flex-direction: row;

}
.subscribe-form-input{
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 14px 20px;
  flex-grow: 1;
  font-size: 18px;
  line-height: 24px;
}
.subscribe-button{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color:#fff;
  background-color: #82B3D3;
  border:none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  min-width: 232px;
  padding: 0;
  border-radius: 0 4px 4px 0;
}
.footer-contacts-phone{
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.page-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px 70px 30px 70px;
}
.footer-social-network-list{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 142px;
  margin: 0 auto;
  padding: 0;
}
.footer-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-height: 50px;
}
.footer-contact-logo{
  width: 115px;
}
.footer-social-network-item{
  list-style-type: none;
  padding: 0 10px;
}
.footer-social-network-vk{
  text-decoration: none;
}
.footer-social-network-telegram{
  text-decoration: none;
}
.footer-social-network-youtube{
  text-decoration: none;
}




.filter-block{
  background-image: url(../images/background_filter.jpg);
  width: 1200px;
  height: 412px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top;
  background-color: gray;
}
.filter-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 35px 70px 70px 70px;
}
.inner-head-title{
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  color:#fff;
  margin: 0;
  margin-bottom: 8px;
}
.breadcrumbs{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  padding:0;
}
.breadcrumbs-item{
  list-style-type: none;
  color:#fff;
  margin-right: 10px;
}
.breadcrumbs-link{
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}
.inner-header{
  width: 1060px;
  margin: 0 auto;
}
.catalog-filter{
  display: flex;
  min-width: 1060px;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}
.filter{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.catalog-filter-item{
  list-style-type: none;
  color:#fff;
}
.catalog-filter-title{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color:#fff;
  padding-bottom: 32px;
}
.catalog-filter-group{
  border: none;
  width: 150px;
  padding: 0;
  margin: 0;
}
.catalog-filter-left{
  min-width: 371px;
  display: flex;
  justify-content: flex-start;
}
.catalog-filter-right{
  width: 549px;
  display: flex;
  justify-content: space-between;
align-items: flex-end;
}
.group-right{
  margin-left: 70px;
}
.catalog-filter-group-price{
  border: none;
  padding: 0;
  margin: 0;
}
.control-block{
  display: flex;
  justify-content: space-between;
  min-width: 288px;
  margin-bottom: 36px;
}
.catalog-filter-list{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 99px;
}
.catalog-filter-item{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
  padding: 0;
  margin: 0;
}
.control-input-radio{
  background-color: #fff;
  width: 20px;
  height: 20px;
}
.control-input-checkbox{
  background-color: #fff;
  width: 20px;
  height: 19px;
  border: none;
  border-radius: 4px;
}
.control-input{
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  max-width: 143px;
  box-sizing: border-box;
  display: flex;
}
.input-left{
  border-radius: 4px 0 0 4px;
}
.input-right{
  border-radius: 0 4px 4px 0;
  margin-left: 2px;
}
.control-line{
  min-width: 288px;

}
.filter-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 104px;
}
.control-block{
  display: flex;
  flex-direction: row;
}

.button-form{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color:#fff;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;
}
.button-reset{
  background-color: transparent;
  margin-top: 32px;
}

.catalog{
  display:flex;
  flex-direction: column;
  flex-basis: auto;
  padding: 50px 70px 60px 70px;
  padding-right: 70px;
  margin: 0 auto;
  background-color: #fff;
}
.catalog-sorting{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 1060px;
  margin-bottom: 40px;
}
.catalog-sorting-right{
  display: flex;
  flex-direction: row;
  width: 522px;
  margin-left: auto;
}
.catalog-sorting-result{
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
  margin: 0;
}
.select-control{
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  padding: 14px 20px;
  min-width: 292px;
}
.catalog-show-list{
  display: flex;
  min-width: 160px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 70px;
}
.catalog-show-item{
  list-style-type: none;
}
.button-show{
  display: flex;
  justify-content:center;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 14px;
  background-color: #fff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}
.button-selected{
  border: 2px solid #000;
}

.product-list{
  display: flex;
  width: 1060px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}
.product-card{
  padding:19px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 438px;
}
.product-item:nth-child(3n){
  margin-right: 0;
}
.product-item{
  list-style-type: none;
  margin-right: 20px;
  margin-bottom: 20px;

}
.product-card-title{
  font-family: inherit;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000;
  margin: 0;
}
.product-card-link{
  text-decoration: none;
}

.product-card-description{
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}

.button-hotel-more{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color:#fff;
  background-color: #756157;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 26px;
}
.button-favorite{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color:#fff;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
}
.button-active{
  background-color: #7DB54F;
}
.button-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}
.product-card-rating-text{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color:#333;
  background-color: #F2F2F2;
  margin: 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 22px 8px 23px;
}
.product-card-rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}
.rating-stars{
  display: flex;
  justify-content:flex-start;
  align-items: center;
}
.star{
  padding-right: 6px;
}

.divider-catalog{
  padding: 0;
  margin: 40px auto;
}
.pagination-block{
  width: 1060px;
  margin: 0 auto;
}
.pagination{
  display: flex;
  flex-direction: row;
  width: 400px;
  padding: 0;
}

.pagination-item{
  list-style-type: none;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-item:first-child{
  background-color: #F2F2F2;
}
.pagination-link-more{
  color:#000;
  background-color: #fff;
  border: none;
  width: 60px;
  height: 60px;
  padding: 0;
}
.pagination-link{
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color:#fff;
}
.pagination-current{
  color:#000;
}
.button-more{
  font-family: inherit;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #fff;
  border: none;
}
.subscribe-no-background{
  background-color: #fff;
  min-width: 684px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  min-height: 414px;
}

.subscribe-form{
  width: 684px;
}
.black{
  color: #000;
}
.input-gray{
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 24px;
}
